:root{
    --colour-primary:#150625;
    --colour-secondary:#ac8d8e;   
}

.bg-primary{
    background-color: var(--colour-primary);
}

.bg-secondary{
    background-color: var(--colour-secondary);
}

.bg-white{
    background-color: #fff;
}
.bg-black{
    background-color: black;
}
.text-primary{
    color: var(--colour-primary) !important;
}

.text-secondary{
    color: var(--colour-secondary);
}
.bg-error{
    background-color: #ff0000;
}

.bg-warning{
    background-color: #a2840e;
}


.text-black{
    color:black;
}

.text-white{
    color:#fff;
}

.border-primary{
    border-color: var(--colour-primary);
}

.border-secondary{
    border-color: var(--colour-secondary);
}